# OS / IDE
*.log
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.zed

# Env files (jamais dans l’image)
.env
.env.*
auth.json

# PHP / Laravel
/vendor
/node_modules
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/public/hot
/public/build

# PHPUnit / cache
/phpunit.result.cache
/.phpunit.cache
/.phpactor.json
/.nova

# Vagrant / Homestead
Homestead.json
Homestead.yaml

# Git
.git
.gitignore
